body {
  margin: 0;
  padding: 0;
}

header h1 {
  font-size: 70px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  letter-spacing: 0.01rem;
  padding: 15px 20px;
  margin: 10px;
}